<div id="product" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" (click)="onGoBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!--
                    <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        <img *ngIf="product.images[0]" [src]="product.images[0].url">
                        <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </div>
                -->

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    <div class="h2">
                        {{ product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType === 'new'">New Product</div>
                    <div class="subtitle secondary-text">
                        <span>{{ product.code }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- Button Setting Product -->
            <div>
                <button mat-raised-button [matMenuTriggerFor]="menuEdit" type="button" class="save-product-button"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '25px' }
                    }"
                    *ngIf="selectedTab === 0 && !isEditMode">
                    <mat-icon>settings</mat-icon> &nbsp; <span>Settings </span>&nbsp;<mat-icon>arrow_drop_down</mat-icon>
                </button>

                <mat-menu #menuEdit="matMenu">
                    <button mat-menu-item (click)="onEditProduct()">
                        <mat-icon>edit</mat-icon>&nbsp; Edit
                    </button>
                    <button mat-menu-item [disabled]="productStatus === 'Inactive' ? false : true" (click)="onDelectProduct()">
                        <mat-icon>delete</mat-icon>&nbsp; Delete
                    </button>
                </mat-menu>
            </div>
            <!-- End Button Setting Product -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form name="productForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group (selectedTabChange)="onTabClick($event)">
                        <!-- Basic Tab -->
                        <mat-tab label="Basic Info">
                            <tab-infomation class="tab-content p-24" 
                                [isEditMode$]="isEditMode$" 
                                [productInfo]="product"
                                (saveEditProduct)="onSaveEditProduct()"
                                (cancelEditProduct)="onCancelEditProduct()"></tab-infomation>
                        </mat-tab>
                        <!-- End Basic Tab -->


                        <!-- Price History Tab -->
                        <mat-tab label="Price History" [disabled]="isEditMode">
                            <tab-price-history class="tab-content p-24"
                                [productPriceHistory]="productPriceHistory"></tab-price-history>
                        </mat-tab>
                        <!-- End Price History Tab -->

                        <!-- Setting Inventory -->
                        <mat-tab label="Setting" [disabled]="isEditMode">
                            <tab-setting class="tab-content p-24"></tab-setting>
                        </mat-tab>
                        <!-- Setting Inventory -->
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>