<div id="dashboard-project" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="column" fxLayoutAlign="center start">

        <!-- <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Documentation</span>
        </div> -->

        <div fxLayout="row" fxLayoutAlign="space-between start">

            
                <span class="mat-display-1 my-0 my-sm-24 welcome-message" [@animate]="{value:'*',params:{x:'50px'}}">
                        <fa-icon class="mr-12" [icon]="['fas', 'archive']" ></fa-icon>
                    Inventory
                </span>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div  fxLayout="column">

            <div class="pb-24" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="font-size-18 font-weight-300"> Inventory List</span>
                <button mat-raised-button color="primary" (click)="onNewInventory()">New Inventory</button>
            </div>


            <div class="fuse-card auto-width mb-24 cursor-pointer" *ngFor="let inventory of inventories">

                <div class="position-relative px-24 py-24 " fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">{{inventory.name}}</span>
                        <span class="secondary-text">{{inventory.description}}</span>
                    </div>
                    <button mat-icon-button fuseWidgetToggle aria-label="more" [matMenuTriggerFor]="inventoryMenu" >
                        <mat-icon>more_vert</mat-icon>
                    </button>

                </div>
                <mat-menu #inventoryMenu="matMenu">
                    <!-- <button mat-menu-item>
                        <mat-icon>add</mat-icon> <span>Add Product</span>
                    </button> -->
                    <button mat-menu-item (click)="onManageInventory(inventory)">
                        <mat-icon >edit</mat-icon> <span>Management</span>
                    </button>
                </mat-menu>

            </div>
            <!-- / Widget 5 -->
        </div>
    </div>

    <!-- / CONTENT -->

</div>