<div class="section pb-48">
    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="m-0 mr-16 secondary-text">info</mat-icon>
        <div class="h2 secondary-text">Detail</div>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between start">
        <div class="px-24 py-16 mb-16" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <span class="mat-caption">Name</span>
            <span class="mat-title">คลังสินค้าที่ 1</span>
        </div>

        <mat-form-field appearance="outline" class="w-100-p mr-8">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" class="disabledInput" value="คลังที่ 1" disabled />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>Product Code</mat-label>
            <input matInput type="text" placeholder="Please enter the information " />
        </mat-form-field>
    </div>
</div>