<app-product-list 
    *ngIf="!isSelectedProduct" 
    [products]="products$ | async" 
    (selectProduct)="onSelectProduct($event)"
    (newProduct)="onNewProduct()">
</app-product-list>
<app-product-detail
    *ngIf="isSelectedProduct" 
    [productInfo$]="product$"
    [productHistory]=""
    [productPriceHistory]="productPriceHistory$ | async"
    [isEditMode$]="isEditMode$"
    (editMode)="onEditMode()"
    (saveEditMode)="onSaveEditMode($event)"
    (cancelEditMode)="onCancelEditMode()"
    (goBack)="onCancelSelectedProduct()">

</app-product-detail>